{% extends 'base.html.twig' %}

{% block title %}Hello DeafultController!{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="mt-5">Dit is de Home Pagina</h2>
        <hr>
        <p>Dit zijn de pagina's die u kunt bezoeken.</p>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link p-2 text-dark" href="{{ path('deafult') }}">Home</a></li>
            <li class="nav-item"><a class="nav-link p-2 text-dark" href="{{ path('product_index') }}">Product</a></li>
            <li class="nav-item"><a class="nav-link p-2 text-dark" href="{{ path('category_index') }}">Category</a>
            </li>
        </ul>
    </div>
{% endblock %}
