{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="mt-5">Create new Category</h2>
        <hr>
        {{ include('category/_form.html.twig') }}
        <a class="btn btn-outline-dark" href="{{ path('category_index') }}">back to list</a>
    </div>
{% endblock %}
