{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Product</h1>

        <span >{{ include('product/_form.html.twig', {'button_label': 'Update'}) }}</span>

        <a class="btn btn-outline-info" href="{{ path('product_index') }}">back to list</a>

        <span {{ include('product/_delete_form.html.twig') }}
    </div>
{% endblock %}
