{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="mt-5">Create new Product</h2>
        <hr>
        <span>{{ include('product/_form.html.twig') }}</span>
        <a class="btn btn-outline-info" href="{{ path('product_index') }}">back to list</a>
    </div>

{% endblock %}
